@model  DatabaseFunction.Model.CompanyAndType
@{

    var companies = Model.companies;
    var companytype = Model.companytype;



    ViewBag.Title = "Index";
}


<div class="card bg-white">
    <div class="card-header d-flex flex">
        @if (companytype == 1)
        {
            <a href="/Company/New/" class="btn btn-primary text-end">Yeni Resmi Şirket</a>
            <a href="/OfficialInvoice/Index" class="btn btn-primary mx-1"> Tüm Resmi Faturalar</a>
        }
        else if (companytype == 2)
        {
            <a href="/Company/NewUnofficial/" class="btn btn-primary text-end">Yeni Gayri Resmi Şirket</a>
            <a href="/Invoice/Index" class="btn btn-primary mx-1"> Tüm Gayri Resmi Faturalar</a>
        }


    </div>
    <div class="card-body">
        <table id="table" class="table table-striped " style="width:100%">
            <thead>
                <tr>
                    <th>Şirket İsmi</th>
                    <th>Şirket Telefonu</th>
                    <th>Şirket E-Mail</th>

                    <th>Tutar</th>
                    <th>Fatura İşlemleri</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <!--


                        -->
            <tbody>
                @foreach (var item in companies)
                {
                    <tr>
                        <td>@item.CompanyName</td>
                        <td>@item.CompanyTelNo</td>
                        <td>@item.CompanyEmail</td>

                        <td>
                            @DatabaseFunction.CompanyTransaction.GetTransaction(item.ID)
                        </td>
                        <td>
                            @if (item.CompanyType == 1)
                            {
                                <div class="dropdown">
                                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        Resmi Fatura
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <li><a class="dropdown-item" href="/OfficialInvoice/InvoiceList?companyid=@item.ID">Faturaları Listele</a></li>
                                        <li><a class="dropdown-item" href="/OfficialInvoice/EntryAdd?companyid=@item.ID">Girdi Ekle</a></li>
                                        <li><a class="dropdown-item" href="/OfficialInvoice/PrintOutAdd?companyid=@item.ID">Çıktı Ekle</a></li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <div class="dropdown">
                                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        Gayri Resmi Fatura
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <li><a class="dropdown-item" href="/Invoice/InvoiceList?companyid=@item.ID">Faturaları Listele</a></li>
                                        <li><a class="dropdown-item" href="/Invoice/Entry?companyid=@item.ID">Girdi Ekle</a></li>
                                        <li><a class="dropdown-item" href="/Invoice/Out?companyid=@item.ID">Çıktı Ekle</a></li>
                                    </ul>
                                </div>
                            }
                        </td>
                        <td>
                            <a class="btn btn-primary " href="/Company/Detail?id=@item.ID">Detay</a>
                            <button class="btn btn-danger deletebutton" data-company-id="@item.ID"><i class="bi bi-trash"></i><span>Sil</span></button>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>

@section Css{
    <link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/vendor/izitoast/css/iziToast.min.css">
}
@section scripts{
    <script src="~/Content/vendor/izitoast/js/iziToast.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        })
        $(".deletebutton").click(function () {
            swal({
                title: "Şirket Silinecek",
                text: "Şirket Silinecek Verilere Erişemeyeceksiniz Silmek İstiyor Musunuz ?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {

                        var formdata = new FormData();
                        var $id = $(this).data("company-id");
                        formdata.append("id", $id);
                        $.ajax({
                            url: "/Company/Delete",
                            method: "POST",
                            data: formdata, contentType: false,
                            processData: false,
                            success: function (data) {
                                if (data != "Failed") {
                                    iziToast.success({
                                        title: "Başarılı", message: "İşlem Başarı ile Gerçekleşti.", position: "topCenter"
                                    });
                                    setTimeout(function () { document.location = "/Company/Index" }, 100)
                                }
                                else {
                                    iziToast.error({
                                        title: "Hata", message: "Silme işlemi Gerçekleşmedi", position: "topCenter"
                                    });
                                }
                            },
                            error: function () {
                                iziToast.error({
                                    title: "Hata", message: "Silme işlemi Gerçekleşmedi", position: "topCenter"
                                });
                            }
                        });
                    } else {
                        swal("İşlem Gerçekleşmedi.");
                    }
                })
        })
    </script>


}